{% extends 'puppify/base.html' %}

    {% block title %}Ajouter un chat{% endblock %}

{% block content %}

<div class="perso_container" >
    <div class="titre"><p>Ajouter un chat</p></div>
    <div class="formulaire">
        <form action="{% url 'puppify:page_utilisateur' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>{{ field.label_tag }}{{ field }}</p>
            {% endfor %}
         <input type="submit" value="Valider">
        </form>
    </div>
</div>
{% endblock %}