<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My amazing site{% endblock %}</title>
    {% load static %}
    {% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'puppify/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    {% endblock %}
</head>
<body>
<header>
    {% block header %}

        <div class="logo">
            <a href="{% url 'puppify:index' %}">{% load static %}
                <img src="{% static 'puppify/logop.png' %}" alt="My image">
            </a>
        </div>
        <!-- Visiteur lambda -->
        <div class="menu">
        {% block menu %}
    {% if request.session.utilisateur_id %}
    <nav>
        <a href="{% url 'puppify:page_utilisateur' %}">Mon espace</a>
        <a href="{% url 'puppify:favorite' %}">Mes favoris</a>
        <a href="{% url 'puppify:about' %}">A propos</a>
    </nav>
  {% else %}
    <nav>
        <a href="{% url 'puppify:inscription' %}">Inscription</a>
        <a href="{% url 'puppify:connexion' %}">Connexion</a>
        <a href="{% url 'puppify:about' %}">A propos</a>
    </nav>
  {% endif %}


        </div>
        {% endblock %}

    {% endblock %}
    </div>
</header>
<div id="content">
    {% block content %}{% endblock %}
</div>

<footer>
        <div class="logo">
            {% load static %}
            <img src="{% static 'puppify/logop.png' %}" alt="Puppify">
        </div>
        <p>© 1998 – 2020</p>
</footer>

</body>
</html>