{% extends 'puppify/base.html' %}


{% block title %}Inscription{% endblock %}
{% block content %}

<div class="perso_container">
    <div class="titre"><p>Formulaire d'adoption</p></div>
    <div class="formulaire">
        <form action="recap_form" method="post">
            {% csrf_token %}

    <!-- {{ form.as_p }} -->
            <p>

                    {% for q,r in qr %}<hr>

                <label for="question">{{ q}}</label>
                <input type="hidden" id="id_question_{{ q.idquestion }}" name="q" value="{{ q.idquestion }}"/>
            </p>
            <p>
                <label for="answer">Réponse :</label>

                    <input type="text" id="id_answer_{{ q.id }}"  value="{{ r.reponse }}" name="answer{{q.idquestion}}" required/>
            </p>
                    {% endfor %}<hr>

            <p>
                <label for="user"> User : {{pers.nom }}</label>
                <input type="hidden" id="id_user" name="user" /><!-- <select name="{{ logged_user }}" size="1">
                  <option id="{{ logged_user.id }}">{{ logged_user }}</option>
                </select> -->
            </p>
            <p>
            <br><br><br>
                <input type="submit" value="Valider">
            </p>


        </form>

    </div>
</div>
{% endblock %}
